body {
  margin: 10px;
  padding: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

h1.title {
    font-weight: 900;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -0.011em;
}


.btn-dark, .btn-dark:hover, .btn-dark:active, .btn-dark:visited {
    background-color: #7B84FF !important;
    border-color: #4752e5 !important;
}
.btn-dark:focus {
    box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5) !important;
}

.btn-dark:active {
    box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5) !important;
}

.btn-outline-dark {
    color: #10e3e3 !important;
    background-color: transparent !important;
    background-image: none !important;
    border-color: #7cc !important;
}


.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
    background-color: #CB6CE6 !important;
    border-color: #aa56c0 !important;
}
.btn-success:focus {
    box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5) !important;
}

.btn-success:active {
    box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5) !important;
}

.btn-outline-success {
    color: #9A65FF !important;
    background-color: transparent !important;
    background-image: none !important;
    border-color: #9A65FF !important;
}

.alert-primary {
    color: #4752e5 !important;
    background-color: #d0d2fd !important;
    border-color: #9b9ef6 !important;
}

.alertSeparator {
    border-color: #9b9ef6 !important;
}

#gameProgressBar.bg-info {
    background-color: #00C2CB !important;
}

#gameProgressBar.bg-success {
    background-color: #7ED957 !important;
}


.fade_rule {
        height: 2px;
        background-color: #E6E6E6;
        width: 66.0em;
        margin: 0 auto;
        background-image: linear-gradient(left , #E916FFFF 2%, #03FCFFFF 50%, #E916FFFF 98%);
        background-image: -o-linear-gradient(left , #E916FFFF 2%, #03FCFFFF 50%, #E916FFFF 98%);
        background-image: -moz-linear-gradient(left , #E916FFFF 2%, #03FCFFFF 50%, #E916FFFF 98%);
        background-image: -webkit-linear-gradient(left , #E916FFFF 2%, #03FCFFFF 50%, #E916FFFF 98%);
        background-image: -ms-linear-gradient(left , #E916FFFF 2%, #03FCFFFF 50%, #E916FFFF 98%);
        background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.02, #e916ff), color-stop(0.5, #7f80ff), color-stop(0.98, #03fcff) );
}


.fade_rule2 {
        height: 1px;
        background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.02, #e916ff), color-stop(0.5, #7f80ff), color-stop(0.98, #03fcff) );
}

.fade_rule3 {
        height: 2px;
        background-color: #E6E6E6;
        background-image: linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -o-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -moz-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -webkit-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -ms-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.02, white), color-stop(0.5, gray), color-stop(0.98, white) );
}

.fade_rule {
    height: 3px;
    background: #e916ff;
    background: -moz-linear-gradient(left, rgba(233, 22, 255, 0) 0%, rgb(233, 22, 255) 20%, rgb(127, 128, 255) 50%, rgba(3, 252, 255, 255) 80%, rgba(233, 22, 255, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(233, 22, 255, 0) 0%, rgb(233, 22, 255) 20%, rgb(127, 128, 255) 50%, rgba(3, 252, 255, 255) 80%, rgba(233, 22, 255, 0) 100%);
    background: linear-gradient(to right, rgba(233, 22, 255, 0) 0%, rgb(233, 22, 255) 20%, rgb(127, 128, 255) 50%, rgba(3, 252, 255, 255) 80%, rgba(233, 22, 255, 0) 100%);
}

a {
    color: #7F80FFFF !important;
}

.createdBy {
    color: #7F80FFFF !important;
}

